Package: com.aydre.youtubedirect
Name: YouTube Direct
Version: 0.1.0
Architecture: iphoneos-arm
Description: Direct-to-YouTube client for iPhone OS 3. No TubeRepair or proxy server.
Maintainer: Aydre
Author: Aydre
Section: Applications
